.invite {
  display: grid;

  &__card {
    width: 280px;
    padding: 20px;
    justify-self: center;

    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & p {
      margin: 0;
    }
  }


  &__card--white {
    background-color: #ffffff;
  }

  &__header {
    width: 140px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__address,
  &__city {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: @special_dark-grey;
  }

  &__map {
    margin: auto;
    height: 362px;
    width: 320px;
    background-image: url(../../img/bg-map-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: center center;

    & img {
      vertical-align: middle;
    }
  }
}
