.social {
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  min-height: 60px;

  &__list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  @media (min-width: @tablet-width) {
    border: none;
  }

}

.social__link {
  display: inline-block;
  margin: 15px;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center;

  &--vkontakte {
    background-image: url(../img/icon-vk.svg);
  }

  &--instagram {
    background-image: url(../img/icon-insta.svg);
  }

  &--facebook {
    background-image: url(../img/icon-fb.svg);
  }


  @media (min-width: @tablet-width) {
    width: 27px;
    height: 27px;
  }
}
