.prop {
  background-color: @basic-grey;
}

.prop__item--slim {
  background-image: url(../img/icon-cat-slim.svg);
  background-size: 50px 53px;
  background-repeat: no-repeat;

}

.prop__item--pro {
  background-image: url(../img/icon-cat-pro.svg);
  background-size: 67px 50px;
  background-repeat: no-repeat;

}
